{{ partial "header.html" . }}

<div class="container outer poster" style="background-image: url({{ .Params.photo.url }})">
    <div class="container inner">
        <section class="intro">
            <div class="col-md-offset-6 col-md-6">
                <h1>{{ .Title }}</h1>
                <p class="introduction">
                    {{ .Params.introduction | markdownify }}
                </p>
            </div>
        </section>
    </div>
</div>

<div class="container outer">
    <div class="container inner">
        <section>
            
        </section>
    </div>
</div>

<div class="container outer zigzag white">
    <!-- Todo: news section -->
    <!--<div class="container inner">
        <section class="news">
            {{ range where .Data.Pages "Section" "news" }}
                <div class="col-md-6">
                    {{ partial "news-preview.html" . }}
                </div>
            {{ end }}
        </section>
    </div>-->
    <div class="container inner">
        <section class="partners">
            <div class="heading col-md-12">
                <span>Onze Partners</span>
                <hr>
            </div>
            <ul>
                {{ range where .Data.Pages "Section" "partner" }}
                    {{ if .Params.logo }}
                       {{ partial "partner-preview.html" . }}
                    {{ end }}
                {{ end }}
            </ul>
        </section>
    </div>
</div>

{{ partial "footer.html" . }}