.container.outer.home {
    section.header {
        display: flex;
        flex-wrap: wrap;

        .col-md-4 {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            @include mq($until: tablet) {
                padding-top: 60px;
            }
        }

        .col-md-8 {
            @include mq(tablet) {
                padding-left: 37px;
            }
        }

        h1 {
            line-height: 3rem;
            margin-top: 60px;
        }

        p {
            margin: 15px 0 60px;
        }
    }
}