.container {
    &.partners {
        .button {
            display: inline-block;
            width: auto;
            height: 54px;
            margin-top: 30px;
            padding: 15px 15px 15px 55px;
        }

        .container.inner {

            hr {
                margin: 100px 0 40px;
            }

            h1 {
                line-height: 6rem;
            }

            h2 {
                line-height: 4rem;
            }

            img {
                margin-top: 50px;
            }

            &:last-child {
                hr {
                    display: none;
                }
            }
        }

        .tiles {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            a {
                display: block;
                width: 24%;
            }
        }

        .heading {
            margin: 100px 0;

            .heading-ruler{
                display: block !important;
                position: absolute;
                width: 100%;
                z-index: -10;
                top: 50%;
                margin: 0 !important;
                background-color: $silver;

                @include firefox-only() {
                    transform: translateX(-50%);
                }
            }
        }
    }
}