.container.event-listing {
    @include transition(height .2s);

    article {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .event-row {
        @include transition(height .3s);
        height: auto;
    }

    &>.inner {
        display: flex;
        align-items: flex-start;
        padding-left: 30px;
        position: relative;
        margin-bottom: -80px;
    }

    &.left {
        .inner {
            justify-content: flex-start;
        }
    }

    &.right {
        .inner {
            justify-content: flex-end;
        }
    }

    &.fold-out {
        height: calc(450px + 100vh);
    }
}