.container.events
    @include zigzag($red, transparent)
        z-index: 100
        @include mq(tablet)
            margin-top: 115px
        
    background-color: $red
    color: $white

    @include mq(tablet)
        height: 450px

    section
        @include mq(tablet)
            display: flex

    .deventer
        color: $white
        position: relative
        padding-top: 30px

        @include mq(tablet)
            padding-top: 0
            height: 275px

        h2 
            color: $white

    .events
        @include mq(tablet)
            display: flex
            position: absolute
            right: 0

            .slide-container
                display: flex
                flex-direction: row
                width: 100%
                margin-top: -30px

    .event-slider
        @include mq(tablet)
            overflow: hidden
            z-index: 200
            margin-bottom: -60px
            height: calc(100% + 120px)
            position: absolute
            min-height: calc(450px + 45px)
            margin-top: -40px
            right: 0
            width: 100%
            min-width: 100%
            left: 0

            .slide-container
                @include transition(left .3s)
                @include transition-timing-function(cubic-bezier(0.455, 0.03, 0.515, 0.955))    
                display: block
                position: absolute
                width: 9999px
                height: calc(100% + -10px)
                padding-top: 15px
                left: 15px
                z-index: 400
                margin-top: -16px

    .more-events
        .button
            width: 100%
            margin-bottom: 60px

        @include mq(tablet)
            display: none

    .navigation
        display: flex
        height: 100%

        a
            display: none

            @include mq(tablet)
                display: flex
                flex-direction: column
                justify-content: center
                width: 50px
                height: calc(100% - 50px)
                margin-top: 10px
                padding: 10px
                z-index: 500

                .hide
                    display: none
                
                &:hover, &:focus
                    text-decoration: none

                &#prev
                    position: relative
                    left: 16px

                    &:hover
                        background: radial-gradient(ellipse at 0, rgba(0, 0, 0, 0.4) 0%, transparent 50%)

                &#next
                    position: absolute
                    right: 0px

                    &:hover
                        background: radial-gradient(ellipse at 50px, rgba(0, 0, 0, 0.5) 0%, transparent 50%)

                i
                    font-size: 4rem
                    color: $white