.container.loader {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: $light;
    z-index: 1000;
    -webkit-transform:translateZ(2px);

    span:not([class]) {
        position: absolute;
        top: calc(50% + 30px);
        left: 50%;
        font-size: 20px;
        display: block;
        transform-origin: center center;
    }

    @if ($show-loader == true) {
        display: block;
    }
}