{{ partial "header.html" . }}

<div class="container outer home" {{ if .Params.photo }} style="background-image: url({{ .Params.photo.url }})" {{ end }}>
    <div class="container inner">
        <section class="header">
            <div class="col-md-4">
                {{ if .Params.image }}
                    <img src="https://www.datocms-assets.com{{ .Params.image.value.path }}">
                {{ end}}
            </div>
            <div class="col-md-8">
                <h1>{{ .Title }}</h1>
                <p class="introduction">
                    {{ .Params.introduction | markdownify }}
                </p>
            </div>
        </section>
    </div>
</div>

<div class="container outer">
    <div class="container inner">
        <section class="col-md-10 col-md-offset-1">
            {{ .Content }}
        </section>
    </div>
</div>

{{ partial "partners.html" . }}

{{ partial "footer.html" . }}