{{ $title := lower .Title | replaceRE "\\s+" "-" | replaceRE "^\\w\\-]+" "" | replaceRE "\\-\\-+" "-" | replaceRE "^-+" "" | replaceRE "-+$" "" }}

<div class="event poster" data-coordinates='[ {{ .Params.location.latitude }}, {{ .Params.location.longitude }} ]' data-id="{{ .Params.id }}">
    <div class="inner">
        <a href="#{{ $title}}" data-event-id="{{ .Params.id }}">
            <div class="image" style="background-image: url({{ .Params.photo.url }})">
                <div class="hextop"></div>
                <div class="hexbottom"></div>
            </div>
            <section>
                <div class="details-small">
                    <span class="date"><span class="hexagon"><i class="fa fa-calendar-o"></i></span>{{ .Params.datetime | dateFormat "2" }} april</span>
                </div>
                <h3>{{ .Title }}</h3>
                <span class="speaker">Joke J. Hermsen</span>
                
                <p>
                    {{ .Params.introduction }}
                </p>
            </section>
        </a>
    </div>
</div>
<div class="event full hide-and-seek" data-id="{{ $title }}">
    <div class="container inner">
        <a href="#"><i class="fa fa-close"></i></a>
        <section>
            <div class="content col-md-8">
                <h1>{{ .Title }}</h1>
                {{ .Params.content | markdownify }}
            </div>
        </section>
        <div class="details col-md-4">
            
        </div>
    </div>
</div>
