<div class="event preview" data-coordinates="{ {{ .Params.location.latitude }}, {{ .Params.location.longitude }} }">
    <hr>
    <div class="inner">
        <span class="date">
            <span class="day">1</span>
            april - 2017
        </span>
        <div class="poster" style="background-image: url(/assets/img/asdasd.jpg)">
            <!-- {{ .Params.photo.url }} -->
            <span class="banner">
                <h3>{{ .Title }}</h3>
                <span class="speaker">Joke J. Hermsen</span>
            </span>
        </div>
        <p>
            {{ .Params.introduction }}
        </p>
    </div>
    <div class="zigzag">
        <div class="inner"></div>
    </div>
</div>