{{ $title := lower .Title | replaceRE "\\s+" "-" | replaceRE "\\?" "" | replaceRE "[^\\w\\-]+" "" | replaceRE "\\-\\-+" "-" | replaceRE "^-+" "" | replaceRE "-+$" "" }}

<div class="event preview" data-coordinates='[ {{ .Params.location.latitude }}, {{ .Params.location.longitude }} ]' data-id="{{ .Params.id }}">
    <hr />
    <div class="inner">
        <a href="/programma/#{{ $title }}">
            <span class="date">
                <span class="day">{{ .Params.datetime | dateFormat "2" }}</span>
                april - 2017
            </span>
            <div class="poster" style="background-image: url({{ .Params.photo.url }})">
                <span class="banner">
                    <h3>{{ .Title }}</h3>
                    <span class="speaker">{{ .Params.subtitle }}</span>
                </span>
            </div>
            <p>
                {{ .Params.introduction | markdownify }}
            </p>
        </a>
    </div>
    <div class="zigzag">
        <div class="inner"></div>
    </div>
</div>