{{ $title := lower .Title | replaceRE "\\s+" "-" | replaceRE "\\?" "" | replaceRE "^\\w\\-]+" "" | replaceRE "\\-\\-+" "-" | replaceRE "^-+" "" | replaceRE "-+$" "" }}

<div class="container inner">
    <div class="event poster" data-coordinates='[ {{ .Params.location.latitude }}, {{ .Params.location.longitude }} ]' data-id="{{ .Params.id }}">
        <div class="inner">
            <a href="#{{ $title}}" data-event-id="{{ $title }}" class="event">
                <div class="left">
                    <div class="image" style="background-image: url({{ .Params.photo.url }})">
                        <div class="hextop"></div>
                        <div class="hexbottom"></div>
                    </div>
                    <div class="date hexagon">
                        <span>{{ .Params.datetime | dateFormat "2" }}</span>
                    </div>
                    <div class="category hexagon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                </div>
                <div class="right">
                    <section>
                        <span class="title">{{ .Title }}</span>
                        <span class="subtitle">{{ .Params.subtitle }}</span>
                    </section>
                </div>
            </a>
        </div>
    </div>
    <div class="event full hide-and-seek" data-id="{{ $title }}">
        <div class="container inner">
            <a href="#" class="close-button"></a>
            <article>
                <div class="details">
                    {{ if .Params.externalLink }}
                        <a href="{{ .Params.externalLink }}" target="_blank" class="button red fluid"><i class="fa fa-book"></i>Reserveer direct!</a>
                        <hr>
                    {{ end }}
                    <ul>
                        {{ if .Params.cost }}<li><span class="hexagon"><i class="fa fa-money"></i></span><span>Kosten: </span>{{ if eq .Params.cost "0" }} Gratis! {{ else }} &euro; {{ .Params.cost }}{{ end }}</li>{{ end }}
                        <li><span class="hexagon"><i class="fa fa-calendar"></i></span><span>Datum:</span> {{ .Params.datetime | dateFormat "2" }} april</li>
                        <li><span class="hexagon"><i class="fa fa-clock-o"></i></span><span>Aanvang: </span>{{ .Params.datetime | dateFormat "15:04" }} uur</li>
                        {{ if .Params.locationText }}<li><span class="hexagon"><i class="fa fa-map-marker"></i></span><span>Locatie: </span>{{ .Params.locationText }}</li>{{ end }}
                    </ul>
                </div>
                <div class="content">
                    <h1>{{ .Title }}</h1>
                    <p>
                        {{ .Params.content | markdownify }}
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>