{{ $title := lower .Title | replaceRE "\\s+" "-" | replaceRE "\\?" "" | replaceRE "[^\\w\\-]+" "" | replaceRE "\\-\\-+" "-" | replaceRE "^-+" "" | replaceRE "-+$" "" }}
{{ $url := printf "https://filosoferenindeventer.nl/programma/%s" $title }}

<div class="container inner event-row">
    <article>
        <div class="event poster">
            <div class="inner">
                <a href="#{{ $title}}" data-event-id="{{ $title }}" class="event">
                    <div class="left">
                        <div class="image" style="background-image: url({{ .Params.photo.url }}&w=400)">
                            <div class="hextop"></div>
                            <div class="hexbottom"></div>
                        </div>
                        <div class="date hexagon">
                            <span>{{ .Params.datetime | dateFormat "2" }}</span>
                            <span class="small">{{ index .Site.Params.months ( int (.Params.datetime | dateFormat "01") ) }}</span>
                        </div>
                        {{ if eq .Params.category.name "Toegepast" }}
                            <div class="category hexagon">
                                <i class="fa fa-comments"></i>
                            </div>
                        {{ else if eq .Params.category.name "Academisch" }}
                            <div class="category hexagon">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                        {{ else }}
                            <div class="category hexagon">
                                <i class="fa fa-eye"></i>
                            </div>
                        {{ end }}
                    </div>
                    <div class="right">
                        <section>
                            <h1 cid="{{ $title }}">{{ .Title }}</h1>
                            <h2>{{ .Params.subtitle }}</h2>
                        </section>
                    </div>
                </a>
            </div>
        </div>
        <div class="event content" data-id="{{ $title }}">
            <a href="#" class="close-button"></a>
            <div class="details">
                {{ if .Params.externallink }}
                    <a href="{{ .Params.externallink }}" target="_blank" class="button red fluid"><i class="fa fa-book"></i>{{ if .Params.buttontext }}{{ .Params.buttontext }}{{ else }}Reserveer direct!{{ end }}</a>
                    <hr>
                {{ end }}
                <ul>
                    {{ if .Params.cost }}<li><span class="hexagon"><i class="fa fa-money"></i></span><span>{{ .Params.cost | markdownify }}</span></li>{{ end }}
                    <li><span class="hexagon"><i class="fa fa-calendar"></i></span><span>{{ .Params.datetime | dateFormat "2" }} {{ index .Site.Params.months ( int (.Params.datetime | dateFormat "01") ) }} 2017</span></li>
                    <li><span class="hexagon"><i class="fa fa-clock-o"></i></span><span>{{ .Params.datetime | dateFormat "15:04" }} uur</span></li>
                    <li><span class="hexagon"><i class="fa fa-map-marker"></i></span><span>{{ .Params.locationtext }}</span></li>
                </ul>
            </div>
            <div class="content">
                <p>
                    {{ .Params.content | markdownify }}
                </p>
                {{ partial "socialbuttons.html" (dict "title" .Title "url" $url ) }}
            </div>
        </div>
    </article>
</div>