  <div class="container outer footer">
    <div class="container inner">
      <footer>
        <div class="col-md-4">
          <p>
            {{ .Site.Data.index.copyright | markdownify }}
          </p>
        </div>
        <div class="col-md-4">
          <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </div>
        <div class="col-md-4">
          <span class="all-credits-go-to-ilja-nienhaus">
            <a href="http://desenzo.nl">Design door desenzo.nl</a>
          </span>
        </div>
      </footer>
    </div>
  </div>

  <script src="/assets/all.js"></script>
  {{ if eq .Site.Params.env "development" }}
    <script src="http://localhost:5678/livereload.js"></script>
  {{ end }}
  </body>
</html>


