  <div class="container outer footer">
    <div class="container inner">
      <footer>
        <div class="col-md-4 copyright">
          <p>
            {{ .Site.Data.index.copyright | markdownify }}
          </p>
        </div>
        <div class="col-md-4">
          <ul class="socials">
            <li><a href="https://www.facebook.com/Deventermaandvandefilosofie/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="mailto:filosoferenindeventer@gmail.com" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
            <li><a href="https://github.com/wim-jan/mvdf-deventer" target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <span class="right">
            <a href="http://desenzo.nl">Design door desenzo.nl</a>
          </span>
        </div>
      </footer>
    </div>
  </div>

  <script src="/assets/all.js"></script>
  {{ if eq .Site.Params.env "development" }}
    <script src="http://localhost:5680/livereload.js"></script>
  {{ end }}
  </body>
</html>


