<!DOCTYPE html>
<html lang="<%= settings.language %>">

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    {{ if eq .Site.Params.env "production" }}
        <link rel="stylesheet" href="/assets/all.css"> 
    {{ end }} 
    <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
</head>

<body class="loading">
    <div class="container outer loader">
        <div class="preloader loading">
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
        </div>
    </div>
        
    <div class="container outer">
        <a class="hamburger">
            <span>Toon menu</span>
        </a>
        <header>
            <div class="container inner">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/programma">Programma</a></li>
                        <li><a href="/partner">Partners</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
