<div class="container outer zigzag white">
    <div class="container inner">
        <section class="partners">
            <div class="heading col-md-12">
                <span>Onze Partners</span>
                <hr>
            </div>
            <div class="col-md-12">
                <ul>
                {{ range where .Site.Pages "Section" "partner" }}
                    <li><a href="{{ .Params.externalLink }}"><img src="{{ .Params.logo.url }}&w=200" /></a></li>
                {{ end }}
                </ul>
            </div>
        </section>
    </div>
</div>