
<div class="container outer zigzag white">
    <div class="container inner">
        <section class="partners">
            <div class="heading col-md-12">
                <span>Onze Partners</span>
                <hr>
            </div>
            <div class="col-md-12">
                <ul>
                {{ range (sort (where .Site.Pages "Section" "partner") ".Params.position") }}
                
                    {{ $title := lower .Params.name | replaceRE "\\s+" "-" | replaceRE "\\?" "" | replaceRE "[^\\w\\-]+" "" | replaceRE "\\-\\-+" "-" | replaceRE "^-+" "" | replaceRE "-+$" "" }}

                    <li><a href="/partner/#{{ $title }}"><img src="{{ .Params.logo.url }}&w=200" /></a></li>
                {{ end }}
                </ul>
            </div>
        </section>
    </div>
</div>