{{ partial "header.html" . }}

<div class="container outer home">
    <div class="container inner">
        <section class="header">
            <div class="col-md-4 col-xs-12">
                <img src="/img/logo.png" alt="Maand van de Filosofie Deventer" />
            </div>
            <div class="col-md-8 col-xs-12">
                <h1>{{ .Site.Data.index.title }}</h1>
                <h2>{{ .Site.Data.index.subtitle }}</h2>
                <p>
                    {{ .Site.Data.index.introduction }}
                </p>
            </div>
        </section>
    </div>
</div>

<div class="container outer events">
    <div class="container inner">
        <section>
            <div class="deventer col-md-4 col-xs-12">
                <h2>{{ .Site.Data.deventer.title }}</h2>
                <p>
                    {{ .Site.Data.deventer.introduction | markdownify }}
                </p>
            </div>
            <div class="events col-md-8 col-xs-12">
                <div class="event-slider">
                    <div class="slide-container">
                        {{ range sort (where .Data.Pages "Section" "programma") ".Params.datetime" }}
                            {{ if .Params.datetime | and .Params.photo | and .Params.location | and (isset .Params.location "latitude") }}
                                {{ partial "event-preview.html" . }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="container outer map">
    <section class="map">
        <div id="map-container"></div>
    </section>
</div>

{{ partial "partners.html" . }}

{{ partial "footer.html" . }}