{{ partial "header.html" . }}

<div class="container outer home">
    <div class="container inner">
        <section class="header">
            <div class="col-md-4">
                <img src="" />
            </div>
            <div class="col-md-8">
                <h1>{{ .Site.Data.index.title }}</h1>
                <h2>{{ .Site.Data.index.subtitle }}</h2>
                <p>
                    {{ .Site.Data.index.introduction }}
                </p>
            </div>
        </section>
    </div>
</div>

<div class="container outer events">
    <div class="container inner">
        <section>
            <div class="deventer col-md-4">
                <h2>{{ .Site.Data.deventer.title }}</h2>
                <p>
                    {{ .Site.Data.deventer.introduction | markdownify }}
                </p>
            </div>
            <div class="events col-md-8">
                <div class="slide-container">
                    {{ range where .Data.Pages "Section" "_event" }}
                        {{ partial "event-preview.html" . }}
                    {{ end }}
                </div>
            </div>
        </section>
    </div>
</div>
<div class="container outer map">
    <section class="map">
        <div id="map-container"></div>
    </section>
</div>

<div class="container outer">
    <div class="container inner">
        <section class="news">
            {{ range where .Data.Pages "Section" "_news" }}
                <div class="col-md-6">
                    {{ partial "news-preview.html" . }}
                </div>
            {{ end }}
        </section>
    </div>
    <div class="container inner">
        <section class="partners">
            <div class="heading col-md-12">
                <span>Onze Partners</span>
                <hr>
            </div>
            <ul>
                {{ range where .Data.Pages "Section" "_partner" }}
                    {{ if .Params.logo }}
                       {{ partial "partner-preview.html" . }}
                    {{ end }}
                {{ end }}
            </ul>
        </section>
    </div>
</div>

{{ partial "footer.html" . }}