// Red
$red-light: #ff4444;
$red: #CC0000;
$red-dark: #BE0004;
$red-darker: #C80C0F;

// Purple
$purple: #8C1D82;
$purple-dark: #77006F;

// B&W
$white: #fff;
$light: #FEFEFE;
$silver-light: #F5F2F6;
$silver: #CECED3;
$silver-dark: #D8D8D8;
$dark: #2A2A29;
$black: #000;

// Body colors
$base-body-color: $dark;
$light-bg-color: $white;