.container.events
    @include zigzag($red, transparent)
        z-index: 100
        margin-top: 15px
        
    background-color: $red
    color: #fff
    height: 450px

    section
        display: flex

    .deventer
        color: #fff

    .events
        display: flex
        position: absolute
        right: 0

        .slide-container
            display: flex
            flex-direction: row
            width: 100%
            margin-top: -30px

    .event-slider
        overflow: hidden
        z-index: 200
        margin-bottom: -60px
        /* margin-top: -448px */
        height: calc(100% + 120px)
        /* content: '' */
        position: absolute
        min-height: calc(450px + 45px)
        /* margin-left: 39% */
        /* min-width: 9999px */
        margin-top: -40px
        right: 0
        width: 100%
        min-width: 100%
        left: 0

        .slide-container
            @include transition(left 1s)
            @include transition-timing-function(ease-out)    
            display: block
            position: absolute
            width: 9999px
            height: calc(100% + -10px)
            padding-top: 15px
            left: 15px
            z-index: 400
            margin-top: -5px