.container.event-listing {
    @include transition(height .2s);
    height: calc(450px + 0vh);

    &>.inner {
        display: flex;
        align-content: center;
        align-items: center;
        padding-left: 30px;
        position: relative;
    }

    &.first {
        margin-top: 190px;
    }

    &.left {
        .inner {
            justify-content: flex-start;
        }
    }

    &.right {
        .inner {
            justify-content: flex-end;
        }
    }

    &.fold-out {
        height: calc(450px + 100vh);
    }
}