.container.event-listing {
    &>.inner {
        display: flex;
        align-content: center;
        align-items: center;
        padding-left: 30px;
    }

    &.first {
        padding-top: 120px;
    }

    &.left {
        .inner {
            justify-content: flex-start;
        }
    }

    &.right {
        .inner {
            justify-content: flex-end;
        }
    }
}