.event
    &.preview
        // @include zigzag($purple, transparent, 30px)
        //     bottom: 0
        //     bottom: -60px
        //     z-index: 100
        //     background-position-x: 0px
        @include transition(transform .5s, background-color .5s)

        background-color: $red
        transform: scale(1)
        height: calc(100% + 30px)
        border-left: 1px solid $light
        min-width: 300px
        padding: 30px 15px 0
        position: relative
        display: flex
        flex: 1
        flex-direction: column
        flex-grow: 1
        flex-shrink: 1
        flex-basis: auto

        &:hover
            background-color: $purple
            transform: scale(1.1)
            z-index: 200

            .zigzag
                .inner
                    background: linear-gradient(45deg, transparent 30px, $purple 0), linear-gradient(-45deg, transparent 30px, $purple 0)
                    background-position: left bottom
                    background-repeat: repeat-x
                    background-size: 30px 30px
                    content: " "
                    display: block
                    position: absolute
                    left: 0px
                    width: 1000px
                    height: 30px
                    top: -30px
                    z-index: 300

        .inner

            span.date
                display: block
                width: 100%
                margin-bottom: 15px

                .day
                    @include heading-bold()
                    font-size: 3rem

            .poster
                width: 100%
                height: 150px
                background-position: center center
                background-size: cover

                .banner
                    display: block
                    position: relative
                    width: calc(100% - 15px)
                    background: rgba(0,0,0,.9)
                    top: 65px
                    padding: 15px

                    h3, .speaker
                        font-size: 0.9rem
                        line-height: 1rem

        .zigzag
            display: block
            position: absolute
            width: 100%
            height: 20px
            bottom: -20px
            z-index: 100
            left: 0
            overflow: hidden

            .inner
                @include transition(background .5s)
                background: linear-gradient(45deg, transparent 30px, $red 0), linear-gradient(-45deg, transparent 30px, $red 0)
                background-position: left bottom
                background-repeat: repeat-x
                background-size: 30px 30px
                content: " "
                display: block
                position: absolute
                left: 0px
                width: 1000px
                height: 30px
                top: -30px
                z-index: 300

    // &:nth-child(1) .zigzag .inner
    //         left: 0px

    // &:nth-child(2) .zigzag .inner 
    //         left: -8px

    // &:nth-child(3) .zigzag .inner 
    //         left: -16px

    // &:nth-child(4) .zigzag .inner 
    //         left: -24px

    // &:nth-child(5) .zigzag .inner 
    //         left: -32px

    // &:nth-child(6) .zigzag .inner 
    //         left: -40px