.container.event-listing-old {

    .event {
        &.poster-old {
            @include transition(left .2s);
            position: relative;
            left: 0;
            width: 410px;
            height: 450px;
            margin-top: -80px;

            &:first-child {
                margin-right: 95px;
            }

            a {
                position: relative;
                margin-top: 0;
                color: $dark;
                text-decoration: none;
                display: block;

                &:hover, &.active {
                    &.active {
                        z-index: 500;
                        .opaque {
                            opacity: 0;
                        }
                        section {
                            display: none;
                        }
                    }

                    .image, .hextop, .hexbottom {
                        border-color: $red !important;
                    }
                }

            }

            .image {
                @include transition(border-color .2s);
                position: relative;
                width: 400px; 
                height: 230.94px;
                margin: 115.47px 0;
                background-size: auto 415.6922px;
                background-position: center;
                border-left: solid 20px $silver-light;
                border-right: solid 20px $silver-light;
                
                .hextop,
                .hexbottom {
                    position: absolute;
                    z-index: 1;
                    width: 282.84px;
                    height: 282.84px;
                    overflow: hidden;
                    transform: scaleY(0.5774) rotate(-45deg);
                    background: inherit;
                    left: 38.58px;
                }

                /*counter transform the bg image on the caps*/
                .hextop:after,
                .hexbottom:after {
                    content: "";
                    position: absolute;
                    width: 360.0000px;
                    height: 207.8460969082653px;
                    transform:          rotate(45deg) scaleY(1.7321) translateY(-103.9230px);
                    transform-origin: 0 0;
                    background: inherit;
                }

                .hextop {
                    @include transition(border-color .2s);
                    top: -141.4214px;
                    border-top: solid 28.2843px $silver-light;
                    border-right: solid 28.2843px $silver-light;
                }

                .hextop:after {
                    background-position: center top;
                }

                .hexbottom {
                    @include transition(border-color .2s);
                    bottom: -141.4214px;
                    border-bottom: solid 28.2843px $silver-light;
                    border-left: solid 28.2843px $silver-light;
                }

                .hexbottom:after {
                    background-position: center bottom;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 11.5470px;
                    left: 0;
                    width: 360.0000px;
                    height: 207.8461px;
                    z-index: 2;
                    background: inherit;
                }

                top: 10px;
                left: 20px;

                .opaque {
                    background-color: rgba(0, 0, 0, 0.8);
                    width: 300px;
                    height: 300px;
                    z-index: 500;
                    position: absolute;
                }
            }

            section {
                position: absolute;
                bottom: 1px;
                z-index: 100;
                width: calc(100% - 50px);

                @include safari-only() {
                    width: calc(100% - 40px);
                }

                text-align: left;
                margin-left: 40px;
                background: rgba(0,0,0,.8);
                color: #fff;
                padding: 15px;

                .hexagon {
                    @include hexagon($silver-dark, 30px);
                    display: flex;
                    justify-content: center;
                    margin-right: 10px;

                    i {
                        color: $silver-light;
                    }
                }
            }
        }
    }

    &.right {
        
    }
}