.container.event-listing {

    .event {
        &.poster {
            @include transition(left .2s);
            position: relative;
            left: 0;
            width: 410px;
            height: 450px;
            margin-top: -80px;

            &:first-child {
                margin-right: 95px;
            }

            a {
                @include hexagon($silver-light, 400px) {
                    &:before, &:after {
                        @include transition(border-left .2s, border-right .2s);
                    }
                    &:before {
                        @include transition(border-bottom .2s);
                    }
                    &:after {
                        @include transition(border-top .2s);
                    }
                }
                @include transition(background-color .2s, transform .2s);

                margin-top: 0;
                color: $dark;
                text-decoration: none;
                display: block;

                &:hover, &.active {
                    background-color: $purple;
                    color: $light;

                    &.active {
                        z-index: 500;
                        .opaque {
                            opacity: 0;
                        }
                        section {
                            display: none;
                        }
                    }

                    &:before, &:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        border-left: offsetX(400px) solid transparent;
                        border-right: offsetX(400px) solid transparent;
                    }

                    &:before {
                        bottom: 100%;
                        border-bottom: offsetY(400px) solid $purple;
                    }

                    &:after {
                        top: 100%;
                        width: 0;
                        border-top: offsetY(400px) solid $purple;
                    }
                }

            }

            .image {
                @include hexagon-mask(360px); 
                top: 10px;
                left: 20px;

                .opaque {
                    background-color: rgba(0, 0, 0, 0.8);
                    width: 300px;
                    height: 300px;
                    z-index: 500;
                    position: absolute;
                }
            }

            section {
                position: absolute;
                top: calc(100% - 116px);
                z-index: 100;
                width: calc(100% - 40px);
                text-align: left;
                margin-left: 20px;
                background: rgba(0,0,0,.8);
                color: #fff;
                padding: 15px;

                .hexagon {
                    @include hexagon($silver-dark, 30px);
                    display: flex;
                    justify-content: center;
                    margin-right: 10px;

                    i {
                        color: $silver-light;
                    }
                }
            }
        }
    }

    &.right {
        .image {
            // left: 210px !important;
        }

        // a>section {
        //     margin-top: -180px !important;
            
        //     h3, .speaker {
        //         margin-left: 30px !important;
        //     }
            
        //     .details-small {
        //         margin: 15px 30px 0 30px !important;
        //     }

        //     p {
        //         direction: rtl;
        //         text-align: left;
        //     }
        // }
    }
}