.container.event-listing-2 {

    .inner {
        &:first-child {
            margin-top: 30px;
        }

        &:nth-child(odd) {
            .image {
                margin-left: 0px;
            }
        }

        &:nth-child(even) {
            .image {
                margin-left: 190px !important;
            }
        }
    }

    .event {
        &.poster-2 {
            @include transition(left .2s);
            position: relative;
            left: 0;
            width: 410px;
            height: 310px;
            margin-top: -80px;

            &:first-child {
                margin-right: 95px;
            }

            a {
                position: relative;
                margin-top: 0;
                color: $dark;
                text-decoration: none;
                display: block;

                &:hover, &.active {
                    &.active {
                        z-index: 500;
                        .opaque {
                            opacity: 0;
                        }
                        section {
                            display: none;
                        }
                    }

                    .image, .hextop, .hexbottom {
                        border-color: $red !important;
                    }
                }

            }

            .image {
                @include hexagon-mask(300px);
            }

            section {
                position: absolute;
                bottom: 1px;
                z-index: 100;
                width: calc(100% - 50px);

                @include safari-only() {
                    width: calc(100% - 40px);
                }

                text-align: left;
                margin-left: 40px;
                background: rgba(0,0,0,.8);
                color: #fff;
                padding: 15px;

                .hexagon {
                    @include hexagon($silver-dark, 30px);
                    display: flex;
                    justify-content: center;
                    margin-right: 10px;

                    i {
                        color: $silver-light;
                    }
                }
            }
        }
    }

    &.right {
        
    }
}