.container.event-listing {

    .inner {
        &:first-child {
            margin-top: 30px;
        }

        &:nth-child(odd) {
            .left {
                margin-left: 0px;
            }
        }

        &:nth-child(even) {
            .left {
                margin-left: 190px !important;
            }
        }
    }

    .event {
        &.poster {
            @include transition(left .2s);
            position: relative;
            left: 0;
            height: 310px;
            margin-top: -80px;

            a {
                position: relative;
                margin-top: 0;
                color: $dark;
                text-decoration: none;
                display: block;

                &:hover, &.active {
                    &.active {
                        z-index: 500;
                        .opaque {
                            opacity: 0;
                        }
                        section {
                            display: none;
                        }
                    }

                    .image, .hextop, .hexbottom {
                        border-color: $red !important;
                    }
                }

            }

            .inner {
                position: relative;
                margin-left: 40px;
                height: 407;

                .left {

                }

                .right {
                    section {
                        margin-left: 30px;
                        
                        span {
                            @include default();
                            font-size: $font-size-h2;
                            display: block;
                            line-height: 1.6rem;

                            &.title {
                                @include default-bold();
                                font-size: $font-size-h1;
                                margin-top: 130px;
                                line-height: 3rem;
                            }
                        }
                    }
                }
            }

            .image {
                @include hexagon-mask(300px);
            }

            .hexagon {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 200;

                &.date {
                    @include hexagon($purple, 100px);
                    left: -20px;
                    top: -98px;

                    span {
                        @include default();
                        font-size: 3rem;
                        color: $white;
                    }
                }
                &.category {
                    @include hexagon(rgba(0, 0, 0, .8), 50px);
                    top: -242px;
                    left: 30px;


                    i {
                        font-size: 1.5rem;
                        color: $white;
                    }
                }
            }

            a.event {
                display: flex;
                flex-direction: row;

            }
        }
    }

    &.right {
        
    }
}