section.partners {
    .heading {
        display: flex;
        height: 120px;
        background: url(/assets/img/heart.png) center no-repeat;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        span {
            @include default();
            text-transform: uppercase;
            text-align: center;
            width: 100px;
            color: $light;
            font-size: .8rem
        }

        hr {
            position: absolute;
            width: 100%;
            z-index: -10;
            top: 50%;
            margin: 0;
            background-color: $silver;
        }
    }
}