section.partners {
    margin: 60px 0 30px;

    @include mq(tablet) {
        margin: 0;
    }
    
    .heading {
        display: flex;
        height: 120px;
        background: url(/img/heart.png) center no-repeat;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        span {
            @include default();
            text-transform: uppercase;
            text-align: center;
            width: 100px;
            color: $light;
            font-size: .8rem;
            line-height: 1.2rem;
        }

        hr {
            position: absolute;
            width: 100%;
            z-index: -10;
            top: 50%;
            margin: 0;
            background-color: $silver;

            @include firefox-only() {
                transform: translateX(-50%);
            }
        }
    }

    ul {
        display: flex;
        overflow: hidden;
        justify-content: space-between;

        li {
            display: flex;
            width: 8%;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                @include transition(filter .2s);
                filter: grayscale(100%);
            }

            a {
                &:hover {
                    img {
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}